# Virtualenv
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Documents
!Desafios_InsurMinds/Relatorio_Iteracoes_Titanic.pdf


